<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Current allow ip's {{hstnm}}</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href='/static/style.css' />
</head>
<body>
<h2>Список разрешенных адресов в {{ allow_file }} (<a href="/help">Помощь</a>)</h2>
<hr>
<form action="/delip" method="post">
<table border="1">
    <tr>
        <th>IP</th>
    </tr>

    {% for addresses in data %}
    <tr>
        <td>
            <label>{{addresses}}</label>
        </td>
        <td>
            <input type="checkbox" name="delip[]" value="{{addresses}}" />
        </td>
    </tr>
{% endfor %}

</table>
<br>
<input type="submit" value="Удалить выбранные" />
</form>
    <a href="/addip"><h3>Добавить адрес к разрешенным</h3></a>
</body>
</html>
